@tailwind base;
@tailwind components;
@tailwind utilities;

.social-icon {
  @apply flex items-center justify-center bg-[#222] min-w-[38px] min-h-[38px] rounded-[99px] hover:text-[#fff] transition-all duration-300;
}

.tech-link {
  @apply underline;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: #fff;
  background: #080808;
}